.contact-main {
    z-index: 0;
    position: relative;
    max-width: 100rem;

    .contact-page {
        background-color: black;
        width: 100%;
        height: auto;
        font-family: Poppins, sans-serif;
        @media(max-width:1024px) {
            width: 120%;
        }

        .parent {
            display: flex;
            flex-direction: row;
            gap: 2.5rem;
            overflow: hidden;
            padding: 60px;
            white-space: nowrap;

            .contact {
                flex: 0.75;
                padding: 2rem;
                background-color: rgb(41, 41, 41);
                border-radius: 1rem;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;

                .getin {
                    color: rgb(153 153 161);
                    letter-spacing: 0.05rem;
                    text-transform: uppercase;
                    font-weight: 600;

                    @media(max-width:600px) {
                        font-size: 12px;
                    }
                }

                .h3head {
                    color: rgb(212 212 216);
                    font-weight: 900;
                    font-size: 60px;
                    margin-top: auto;

                    @media(max-width:600px) {
                        font-size: 25px;
                    }

                }

                .form {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2.5rem;
                    gap: 1.5rem;


                    .label1 {
                        display: flex;
                        flex-direction: column;

                        .text1 {
                            font-weight: 500;
                            margin-bottom: 1rem;
                            color: rgb(212 212 216);
                        }

                        .input1 {

                            color: rgb(212 212 216);
                            background-color: rgb(31 31 31);
                            border-radius: 0.5rem;
                            padding: 1rem 1.5rem;

                        .resize {
                            resize: none;
                            white-space: nowrap;
                            font-size: 16px;
                        }
                    }

                    .live-demo {
                        color: rgb(212 212 216);
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        background-color: rgb(20 20 20);
                        white-space: nowrap;
                        align-items: center;
                        border-radius: 10px;
                        padding-top: 1.25rem;
                        padding-bottom: 1.25rem;
                        font-size: 16px;
                        width: 8vw;
                        height: 8vh;
                        gap: 1rem;
                        text-transform: capitalize;
                        cursor: pointer;

                        .send {
                            max-width: 100%;
                            display: block;
                            height: 30px;
                            object-fit: contain;
                        }

                        @media(max-width:1130px) {
                            .send-span {
                                display: none;
                            }
                        }
                    }


                }
            }
        }

    }
}

