@font-face {
    font-family: poppins;
    src: url('assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0px;
    padding :0px;
}