<div class="About-main">
<div Class="About">
    <div class="Intro">introduction</div>
    <div class="overview">overview.</div>
    <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, deleniti. Voluptas repellat labore fuga tenetur dicta! Tenetur aut facere totam fugiat ipsa officia porro maiores optio error dolorum, soluta laboriosam.
    Nam in nulla accusantium, non tempora similique repudiandae ipsa modi voluptatem quo assumenda, delectus illo incidunt at totam, neque a. Accusantium est commodi cum quas consequatur deleniti minima culpa ad!</div>
<div class="About-cards">
    <div class="card" [@slideInFromLeft]>
        <div class="card_icons">
            <img src="../../../assets/icons/design_2898257.png" alt="Froentend Image">
        </div>
        <div class="card_text">
            <p>Froentend Developer</p>
        </div>
    </div>
    <div class="card" [@slideInFromLeft1]>
        <div class="card_icons">
            <img src="../../../assets/icons/design_2898257.png" alt="Froentend Image">
        </div>
        <div class="card_text">
            <p>Backend Developer</p>
        </div>
    </div>
    <div class="card" >
        <div class="card_icons">
            <img src="../../../assets/icons/design_2898257.png" alt="Froentend Image">
        </div>
        <div class="card_text">
            <p>UI/UX Design</p>
        </div>
    </div>
    <div class="card">
        <div class="card_icons">
            <img src="../../../assets/icons/design_2898257.png" alt="Froentend Image">
        </div>
        <div class="card_text">
            <p>Software Prototyping</p>
        </div>
    </div>


    
</div>
</div>
</div>
